.users-list>li img{
    border-radius:9%;
}
.users-list>li {
    width: 50%;
}

.main-header .sidebar-toggle {
    font-family: inherit;
}

.main-header .sidebar-toggle:before {
    content: "";
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #ECF0F5;
}
.content{
    padding: 0px;
}

.navbar-custom-menu .navbar-nav>li>a{
    padding-top: 9px;
    padding-bottom: 7px;
    text-align: center;
}